@import "tailwindcss";

@theme {
  /*custom fonts */
  --font-display: "Oswald", "sans-serif";
  --font-satoshi: "Satoshi", "sans-serif";
  --font-manrope: "Manrope", sans-serif; /* Friendly & clear */

  /*custom colors */
  --color-sea-light: #a0e7e5;
  --color-sea-normal: #00b8a9;
  --color-sea-dark: #007d75;
}

html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  box-sizing: border-box;
}

.main-app-bg-grediant {
  @apply bg-yellow-50 md:bg-linear-45 md:from-pink-100 md:via-gray-100 md:to-yellow-100;
}

.main-app-text-grediant {
  @apply bg-gradient-to-r from-pink-500 via-red-500 to-yellow-500 bg-clip-text text-transparent;
}

.search-input {
  @apply w-full max-w-md px-4 py-2 text-sm text-gray-800 placeholder-gray-400 bg-white border border-gray-300 rounded-lg shadow-sm focus:outline-none;
}
